WSFussionCompanie/Web References/WSCompanies/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="http://xlmns.mx.com.televisa/UtilService/Core/FusionCompanies/V1" elementFormDefault="qualified" targetNamespace="http://xlmns.mx.com.televisa/UtilService/Core/FusionCompanies/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="GetFusionCompaniesReqMsg" type="GetFusionCompaniesReqMsgType" />
  <xsd:element name="GetFusionCompaniesRspMsg" type="GetFusionCompaniesRspMsgType" />
  <xsd:complexType name="GetFusionCompaniesReqMsgType">
    <xsd:sequence>
      <xsd:element name="Input" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GetFusionCompaniesRspMsgType">
    <xsd:sequence>
      <xsd:element name="Companies" type="CompaniesType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompaniesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Company" type="CompanyType" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CompanyType">
    <xsd:sequence>
      <xsd:element name="BusinessUnitId" type="xsd:string" />
      <xsd:element name="BusinessUnitName" type="xsd:string" />
      <xsd:element name="OrgID" type="xsd:string" />
      <xsd:element name="LegalEntityIdentifier" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>